{%extends 'base.html'%}
{%block 'titulo'%}Sobre - Título{%endblock%}


{%block 'conteudo'%}
<p>Lorem ipsum dolor sit amet. Sed quae  aut
    accusantium aspernatur ut officiis praesentium
    cum ducimus velit eos nesciunt dolores. Est
    autem nemo ut placeat reprehenderit ut quia
    voluptatibus. Et illo dolorem non recusandae
    libero qui reiciendis voluptatem nam cupiditate
    expedita aut itaque harum! Eum debitis
    accusantium in nihil voluptas et dolore
    excepturi. </p><p>Sed sequi earum eos
    ducimus explicabo qui animi corrupti ex
    voluptas officiis ab fuga sequi aut voluptates
    Quis? Et asperiores cupiditate rem accusantium
    animi cum dignissimos officia? </p><p>Et quasi
    nulla ut internos consectetur in similique
    excepturi 33 eaque deserunt sed inventore
    numquam 33 distinctio quisquam. Non neque
    atque sed doloremque rerum in laborum nostrum! </p>
{%endblock%}
